certifi==2018.10.15
chardet==3.0.4
filelock==3.0.10
hatchbuck==1.0.17
idna==2.7
OdooRPC==0.7.0
packaging==18.0
pluggy==0.8.0
py==1.7.0
pycountry==18.5.26
pyparsing==2.3.0
python-dotenv==0.9.1
requests==2.20.0
six==1.11.0
toml==0.10.0
tox==3.5.3
tox-pip-extensions==1.4.1
urllib3==1.24
virtualenv==16.1.0
